.competitions {
  padding-top: 150px;
}

.competition-name {
  color: #79e8ef;
}

.competition-text {
  margin-top: 15px;
  font-size: 22px;
  line-height: 29px;
  color: #e2feff;
}

.competition-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 100px;
}

.competition-htmlcss {
  margin-top: 49px;
  width: 570px;
}

.competition-htmlcss::before {
  background-color: #191c19;
  border-radius: 10px;
  border: 1px solid #ff015b;
  margin-bottom: 12px;
  content: "";
  background-image: url("../resources1/Vector-html.png");
  background-repeat: no-repeat;
  background-position: 50%;
  display: block;
  width: 45px;
  height: 44px;
}

.competition-java {
  margin-top: 60px;
  width: 570px;
}

.competition-java::before {
  background-color: #191c19;
  border-radius: 10px;
  border: 1px solid #ff015b;
  margin-bottom: 12px;
  content: "";
  background-image: url("../resources1/Vector-js.png");
  background-repeat: no-repeat;
  background-position: 50%;
  display: block;
  width: 45px;
  height: 44px;
}

.competition-lib {
  margin-top: 59px;
  width: 570px;
}

.competition-lib::before {
  background-color: #191c19;
  border-radius: 10px;
  border: 1px solid #ff015b;
  margin-bottom: 12px;
  content: "";
  background-image: url("../resources1/Vector-lib.png");
  background-repeat: no-repeat;
  background-position: 50%;
  display: block;
  width: 45px;
  height: 44px;
}

.competition-mob {
  margin-top: 59px;
  width: 570px;
}

.competition-mob::before {
  background-color: #191c19;
  border-radius: 10px;
  border: 1px solid #ff015b;
  margin-bottom: 12px;
  content: "";
  background-image: url("../resources1/Vector-mob.png");
  background-repeat: no-repeat;
  background-position: 50%;
  display: block;
  width: 45px;
  height: 44px;
}

@media (max-width: 1199px) {
.description-items {
    width: calc(50% - 5px);}
}