.new-projects {
    height: 1995px;
    margin-top: 150px;
  
  }
  
  .see__all__projects {
    margin-top: 80px;
    display: block;
    width: 582px;
    height: 153px;
  
    background-color: #191c19;
    border-radius: 15px;
    border: 1px solid #ff015b;
    color: #79e8ef;
    letter-spacing: -0.03em;
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
    line-height: 153px;
    text-align: center;
  }

  .see__all__projects:hover {
    background: linear-gradient(#110f25, #ff015b);
    border-radius: 15px;
    border: 1px solid #ff015b;
    color: #e2feff;
    box-shadow: 0px 0px 20px  #e2feff;
  }

  .project__img {
    position: relative;
    border-radius: 30px;
  }

  .project__img:hover{
    /* border-left: 2px solid #79e8ef;
    border-right: 2px solid #79e8ef; */
    box-shadow:  0px 0px 30px #e2feff;
}
 
  
  .project__img-interior {
    height: 548px;
    width: 100%;
  }

  
  .project__img-item {
  font-family: 'Manrope', sans-serif;
  position: absolute;
  display: block;
  display: inline-block;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  padding: 10px 20px;
  left: 47px;
  top: 50px;
  background-color: #110f25;
  color: #79e8ef;
  border: 1px solid #ff015b;
  border-radius: 100px;
}

.project__img-name{
  position: absolute;
  height: 46px;
  font-weight: 400;
  font-size: 35px;
  line-height: 46px;
  top: 410px;
  left: 50px;
  letter-spacing: -0.03em;
  color: #79e8ef;
}

.project__img-service{
  position: absolute;
  height: 39px;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  top: 461px;
  left: 50px;
  letter-spacing: -0.03em;
  color: #79e8ef;
}

