@import "../styles/burger.css";
@import "../styles/competitions.css";
@import "../styles/contacts.css";
@import "../styles/header.css";
@import "../styles/footer.css";
@import "../styles/projects.css";
@import "../styles/services.css";
@import "../styles/about.css";



html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Flex", sans-serif;
  background: linear-gradient(#110f25, #121212);
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.03em;
}
p {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.03em;
  
  
  
}


h1 {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 900;
  text-shadow: 2px 2px 4px #ff015b;
  color: #e2feff;
  font-size: 80px;
  line-height: 69px;
  letter-spacing: -0.03em;
  margin-left: -5px;
}

h2 {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 72px;
  color: #e2feff;
  letter-spacing: -0.03em;
  margin-left: -3px;
}

h3 {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 46px;
  color: #e2feff;
  letter-spacing: -0.03em;
}

.container {
  width: 1150px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0px 15px 0px 15px;
  }
  
  
  }












